# Node
node_modules
npm-debug.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# test artifacts
backend/tests/tmp_test_db.sqlite

# Docker
*.log
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db
